<mat-horizontal-stepper linear [selectedIndex]="selectedIndex" (selectionChange)="selectionChange($event)" disableRipple="true" #stepper>
  <ng-template [matStepperIcon]="'done'">
    <mat-icon>done</mat-icon>
  </ng-template>
  <ng-template [matStepperIcon]="'edit'">
    <mat-icon>done</mat-icon>
  </ng-template>

  <mat-step [stepControl]="firstForm" label="Upload gambar">
    <ng-container *ngIf="selectedIndex === 0">
      <app-upload-gambar></app-upload-gambar>
    </ng-container>
  </mat-step>
  <mat-step [stepControl]="secondForm" label="List test data">
    <ng-container *ngIf="selectedIndex === 1">
      <app-table-data></app-table-data>
    </ng-container>
  </mat-step>
  <mat-step [stepControl]="thirdForm" label="Prediksi">
    <ng-container *ngIf="selectedIndex === 2">
      <app-prediction></app-prediction>
    </ng-container>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
